
<div class="row container-fluid" id="row">
    <div class="col-sm-8">
        <table class="table table-hover">
            
            <h4 id="heading">QUALIFICATION DETAILS</h4>
            <tbody>
                
                 <tr>
                    <th>Nickname</th>
                    <td>
                        {{munsheeds?.nickname}}
                    </td>
                    </tr>
                <tr>
                    <th>Education Level</th>
                    <td>
                        {{munsheeds?.educationLevel}}
                    </td>
                </tr>

                <tr>
                    <th>ProgramName</th>
                    <td>
                        {{munsheeds?.programName}}

                    </td>
                </tr>
                <tr>
                    <th>InstitutionName</th>
                    <td>
                        {{munsheeds?.institutionName}}

                    </td>
                </tr>
                <!-- <div class="row">
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-primary m-1" matDialogClose="no">Close</button>
                  </div>
                  </div> -->
            
            </tbody>
        
        </table>