<div class="form-wrapper" style="background: url(assets/.jpg);">
    <div class="form-signin px-4 text-center px-3 rounded">
       <img class="rounded-circle imageSize" src="assets/pic2.jpg" alt="JUMZA" style="width: 100px;" />
       <h2 class="h4 mb-3 font-weight-normal text-black-50">Sign In</h2>
       <h1 class="h5 mb-3 font-weight-bold text-uppercase text-black-50">
       </h1>
       <!-- <form [formGroup]="userForm" (ngSubmit)="onUpdate()"> -->
          <div class="form-group mb-1">
             <input class="form-control" type="text" formControlName="username" placeholder="Email Address" required />
          </div>
          <div class="form-group mt-3">
             <input class="form-control" type="password" formControlName="password" placeholder="Password" required />
          </div>
          <button type="submit" class="btn btn-primary btn-block p-2 mt-3"> Sign In</button><br>
          <p class="mt-5 mb-3 text-black-50 small">
             © Jumza 2023 | Version 2.0, Jumza- Zanzibar.
          </p>
       <!-- </form> -->
    </div>
</div>
